/* ここから書きましょう */
.card{
    width: 200px;
    height: auto;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 15px rgba(0,0,0,.2)
}

.img{
    width: 100%;
    height: auto;
    padding-top: 56.25%;
    background: #bbb;
    box-sizing: border-box;
}

.card-textbox{
    width: 100%;
    height: auto;
    padding: 20px 18px;
    background: #fff;
    box-sizing: border-box;
}

.card-textbox > * + *{
    margin-top: 10px;
}

